:root {
  // font
  --pretendard: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  // color
  --primary: #00A4AF;
  --primary-bg: #e6f1ff;
  --bg: #f5f5f5;
  --gray: #8F95B2;

  --c-error: #ff3b30;
  --c-warn: #FE9738;

  // text color
  --fc-default: #222;
  --fc-gray: #454b54;

  --bg-form: #f8f9fb;
  --bg-header: #131941;
  --c-border: #bbb;
  --c-bg: #f2f2f2;

  // layout
  --w-side: 250px;
  --spd: 1.6rem;
  --vpd: 2rem;

  //form
  --form-h: 4.4rem;

  // etc
  --ease: cubic-bezier(0, 0.04, 0.26, 1);
}
