.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: calc(var(--root) * 8);
  white-space: nowrap;
  font: inherit;

  [type='checkbox'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: calc(var(--root) * 18);
    height: calc(var(--root) * 18);
    margin: 0;
    border: calc(var(--root) * 1) solid #dedede;
    color: #999;
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &:checked {
      border-color: transparent;
      background: var(--primary) url(/src/assets/images/icon/ic_check_w.svg) no-repeat center center;
    }

    &:disabled,
    &:disabled + span {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:disabled {
      border: 0;
      background-color: #d1d1d1;
    }
  }
}

.radio {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--root) * 20);
  font-size: calc(var(--root) * 14);

  .label {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: calc(var(--root) * 5);
    white-space: nowrap;
  }

  [type='radio'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: calc(var(--root) * 18);
    height: calc(var(--root) * 18);
    margin: 0;
    border: calc(var(--root) * 1) solid #999;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &::after {
      content: '';
      position: absolute;
      inset: calc(var(--root) * 3);
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.2s;
    }

    &:checked {
      &::after {
        background-color: var(--primary);
      }
    }

    &:disabled,
    &:disabled + span {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:disabled {
      border: 0;
      background-color: #d1d1d1;
    }
  }
}
