.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--root) * 10);
  font-size: calc(var(--root) * 18);
  text-align: center;

  &.departure {
    .chart {
      background: url(/src/assets/images/icon/ic_departure.svg) no-repeat center center;
    }
  }

  &.arrival {
    .chart {
      background: url(/src/assets/images/icon/ic_arrival.svg) no-repeat center center;
    }
    .progress {
      stroke: #dd9200;
    }
  }
}

.chart {
  width: calc(var(--root) * 90);
  height: calc(var(--root) * 90);
}

.donut {
  width: 100%;
  height: 100%;
}

.bg {
  fill: none;
  stroke: #e9ecf1;
  stroke-width: 15;
}

.progress {
  fill: none;
  stroke: #2f88dd;
  stroke-width: 15;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--root) * 35);
  
  gap: calc(var(--root) * 3);

  em {
    font-weight: 600;
  }

  small {
    color: #454b54;
    font-size: calc(var(--root) * 12);
  }
}

.value {
  display: flex;
  gap: calc(var(--root) * 3);
}
