.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  --stroke: calc(var(--root) * 12);
  --radius: calc(var(--root) * 60);
  --bg: #e9ecf1;
}

.chart {
  position: relative;
  width: calc(var(--radius) * 2);
  height: var(--radius);
}

.outer {
  --color: #3e87e4;
}

.inner {
  --radius: calc(var(--root) * 46);
  --color: #00a4af;
}

.outer,
.inner {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(var(--radius) * 2);
  height: var(--radius);

  &::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border: var(--stroke) solid var(--bg);
    border-bottom: none;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }
}

.value {
  z-index: 4;
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: var(--stroke) solid;
  border-top: none;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: var(--color);
  transform: rotate(0);
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation: rotate 0.4s ease-in-out forwards;
}

.outer .value {
  animation-delay: 0.2s;
}

@keyframes rotate {
  to {
    transform: rotate(var(--deg));
  }
}

.label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #5a5a5a;
}

.semilabel {
  position: absolute;
  bottom: calc(var(--root) * -4);
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(var(--root) * 16);
  small {
    font-weight: 200;
  }
}

.legend {
  display: flex;
  padding-top: calc(var(--root) * 15);
}

.item {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--root) * 45);

  &:not(:first-child) {
    border-left: calc(var(--root) * 1) solid #ededed;
  }
}

.num {
  transform: translateY(calc(var(--root) * 7));
}
