.wrapper {
  display: flex;
  width: 100%;
  height: calc(var(--root) * 40);
  background-color: #223061;
  font-size: calc(var(--root) * 16);
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(var(--root) * 50);
}

.barWrap {
  position: relative;
  display: flex;
  flex-grow: 1;

  --color: #fe9716;

  .bar {
    background-color: var(--color);
  }
}

.value {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
