.combobox {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: calc(var(--root) * 75);
  font-size: calc(var(--root) * 16);
  font-weight: 600;
  color: var(--fc-gray);
}

:global {
  .dashboard1 {
    :local {
      .combobox {
        color: inherit
      }
      
      .btn::after {
        background-image: url(/src/assets/images/icon/ic_arr_down_w.svg);
      }
    }
  }
}

.btn {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: calc(var(--root) * 30);
  padding: 0 calc(var(--root) * 30) 0 calc(var(--root) * 10);
  color: inherit;
  text-align: left;
  transition: border-color 0.2s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(var(--root) * 24);
    height: 100%;
    background: url(/src/assets/images/icon/ic_arr_down.svg) no-repeat center center / calc(var(--root) * 25);
  }

  &.button {
    height: calc(var(--root) * 26);
  }
}

.dropdown {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 100%;
  font-size: calc(var(--root) * 16);
  color: var(--fc-gray);
  max-height: 0;
  box-shadow: inset 0 0 0 calc(var(--root) * 1) currentColor;
  background-color: #fff;
  transition: max-height 0.3s, opacity .3s;
  opacity: 0;

  &.show {
    max-height: calc(var(--root) * 100);
    opacity: 1;
  }
}

.option {
  .optionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(var(--root) * 30);
    padding: 0 calc(var(--root) * 10);
    color: inherit;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &.selected {
      background-color: var(--fc-gray);
      color: #fff;
    }
  }
}
