.header {
  z-index: 99;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--root) * 65);
  padding: 0 calc(var(--root) * 30);
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--root) * 25);

  h1 {
    display: flex;
    align-items: center;
    gap: calc(var(--root) * 20);
    font-size: calc(var(--root) * 20);
    font-weight: 600;
    text-align: center;
  }

  img {
    width: calc(var(--root) * 71);
  }
}

.utils {
  display: flex;
  align-items: center;
  font-size: calc(var(--root) * 14);
}

.time {
  display: flex;
  align-items: center;

  span {
    display: inline-flex;
    align-items: center;
    height: calc(var(--root) * 12);;
    margin-left: 0.2em;

    &:not(:first-of-type) {
      border-left: calc(var(--root) * 1) solid #d9d9d9;
      padding-left: 0.7em;
      margin-left: 0.7em;
    }
  }
}

.slogan {
  margin-right: calc(var(--root) * 40);
  color: var(--primary);
  font-size: calc(var(--root) * 20);
  font-weight: 600;
}

:global {
  .dashboard1 {
    :local {
      .slogan {
        color: inherit;
      }
    }
  }
}

.center {
  display: flex;
  gap: calc(var(--root) * 20);
  margin: 0 auto;
  color: #8c8c8c;
  font-size: calc(var(--root) * 12);
}
