.table-panel {
  table-layout: fixed;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  font-size: calc(var(--root) * 14);
  font-weight: 600;
  color: #454b54;

  th,
  td {
    padding: 0 calc(var(--root) * 2);
  }

  thead th .panel-label {
    margin-bottom: calc(var(--root) * 6);
  }

  .t--airport {
    font-size: calc(var(--root) * 18);
    font-weight: 600;
  }
  .t--arrival {
    color: #dd9200;
  }
  .t--departure {
    color: #2f88dd;
  }

  .th-icon {
    padding-left: calc(var(--root) * 10);
  }

  &.table-delay {
    table-layout: auto;

    tbody {
      th,
      td {
        border-bottom: calc(var(--root) * 1) dashed #8f95b2;

        &:has(.stay-detail) {
          border-top: 0 hidden;
        }
      }
    }

    .th-haslabel {
      width: 16%;
    }

    &:has(.stay-detail) {
      margin-bottom: auto;
      tbody {
        th,
        td {
          padding-top: calc(var(--root) * 10);
        }

        td:has(.stay-detail) {
          padding-bottom: calc(var(--root) * 10);
        }
      }
    }
  }

  &.table-airdelay {
    table-layout: auto;
    flex-grow: unset;

    tbody {
      th,
      td {
        height: calc(var(--root) * 40);
        border-bottom: calc(var(--root) * 1) dashed #8f95b2;
      }
    }

    thead th {
      .panel-label {
        width: calc(100% - var(--root) * 5);
      }
    }
  }

  &.table-airside {
    table-layout: auto;
    flex-grow: unset;

    tbody {
      th,
      td {
        height: calc(var(--root) * 47);
      }

      tr:nth-child(even) {
        background-color: #fffde6;
      }
    }

    thead th {
      // padding-top: calc(var(--root) * 20);

      .panel-label {
        width: calc(100% - var(--root) * 5);
      }
    }

    &:has(.i--departure-g) {
      tbody tr:nth-child(even) {
        background-color: #d8e8fb;
      }
    }
  }

  &.table-schedule {
    font-size: calc(var(--root) * 12);
    font-weight: 400;

    td {
      padding: calc(var(--root) * 2) 0;
    }

    em {
      font-weight: 600;
    }

    tbody tr:nth-child(even) {
      background-color: #fffde6;
    }

    &.st--departure {
      tbody tr:nth-child(even) {
        background-color: #d8e8fb;
      }
    }
  }

  &.table-airport {
    td {
      font-size: calc(var(--root) * 24);
      font-weight: 500;
    }

    .th-icon {
      width: calc(var(--root) * 85);
      padding-right: calc(var(--root) * 25);
    }
  }
}

.table-runway {
  width: 100%;
  height: 100%;
  color: #454b54;
  font-size: calc(var(--root) * 11);
  line-height: 1.3;

  tr:nth-child(even) {
    background-color: #f0f0f0;
  }

  td {
    padding: calc(var(--root) * 5) calc(var(--root) * 5);
    white-space: nowrap;

    span {
      display: block;
    }

    &:first-of-type {
      padding-left: calc(var(--root) * 15);
    }
    &:last-of-type {
      padding-right: calc(var(--root) * 15);
    }
  }
}

.panel-cont {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.al--center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.td--right {
  text-align: right;
}

.label-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--root) * 3);
}

.ic-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: calc(var(--root) * 22);
  padding: 0 calc(var(--root) * 5);
  border-radius: calc(var(--root) * 4);
  background-color: var(--gray);
  color: #fff !important;
  font-size: calc(var(--root) * 12);

  &.s--sm {
    line-height: calc(var(--root) * 16);
    padding: 0 calc(var(--root) * 3);
  }

  &.st--round {
    border-radius: calc(var(--root) * 22);
    padding: 0 calc(var(--root) * 10);

    &.bg--error {
      background-color: #fff1f1 !important;
      color: #dd0000 !important;
    }
  }
}

.stay-detail {
  display: flex;
  align-items: center;
  gap: calc(var(--root) * 12);
  padding: calc(var(--root) * 2) calc(var(--root) * 38);
  font-size: calc(var(--root) * 12);
}

.section-timegraph {
  .panel-body {
    gap: calc(var(--root) * 10);
  }

  .panel-cont {
    flex: 1 0 0;
    gap: calc(var(--root) * 15);
  }

  .tit {
    width: calc(var(--root) * 70);
  }

  .cont {
    flex-grow: 1;
    height: 100%;
  }
}

.section-passenger {
  .panel-label {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: calc(var(--root) * 35);
      left: 50%;
      width: calc(var(--root) * 102);
      height: calc(var(--root) * 80);
      transform: translateX(-50%);
    }
  }

  .th-all .panel-label::after {
    background: url(/src/assets/images/logo/logo_incheon_g.svg) no-repeat center center / calc(var(--root) * 102);
  }
  .th-t1 .panel-label::after {
    background: url(/src/assets/images/icon/ic_t1_g.svg) no-repeat center center / calc(var(--root) * 70);
  }
  .th-t2 .panel-label::after {
    background: url(/src/assets/images/icon/ic_t2_g.svg) no-repeat center center / calc(var(--root) * 62);
  }

  .table-panel {
    position: relative;
    z-index: 1;
  }
}

.section-ice {
  .table-panel {
    font-size: calc(var(--root) * 16);
    td {
      color: #5a5a5a;
      span {
        padding: 0 calc(var(--root) * 1);
      }
    }
  }
}

.section-runway {
  overflow: hidden;

  .panel-body {
    padding: 0;
  }

  .runway-view {
    display: flex;
    align-items: center;
    gap: calc(var(--root) * 5);

    width: calc(var(--root) * 117);
    height: calc(var(--root) * 29);
    padding: 0 calc(var(--root) * 5);

    border-radius: calc(var(--root) * 3);
    background-color: #d9d9d9;
    color: #000;
    font-size: calc(var(--root) * 10);

    .pic {
      position: relative;
      flex-grow: 1;
      height: 0;
      border-top: calc(var(--root) * 1) dashed currentColor;

      &.arr-left,
      &.arr-right {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: calc(var(--root) * 40);
          margin-left: calc(var(--root) * -20);
          margin-top: calc(var(--root) * -1);
          border-top: calc(var(--root) * 2) solid currentColor;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border: solid transparent;
          border-width: calc(var(--root) * 5) calc(var(--root) * 6);
          border-right-color: currentColor;
        }
      }

      &.arr-right {
        transform: scaleX(-1);
      }
    }
  }
}

.donut-wrap {
  width: 90%;
  min-width: calc(var(--root) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > *:not(:first-child) {
    padding-top: calc(var(--root) * 15);
    margin-top: calc(var(--root) * 15);
    border-top: calc(var(--root) * 1) solid rgba(175, 175, 175, 0.5);
  }
}

.half-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--root) * 40);
  width: calc(var(--root) * 200);
}

.bitbar-wrap {
  display: flex;
  flex-direction: column;
  gap: calc(var(--root) * 14);
  padding: 0 calc(var(--root) * 5);
}

.delay-wrap {
  display: flex;
  flex-direction: column;
  gap: calc(var(--root) * 24);
  padding: 0 calc(var(--root) * 5);
  width: 100%;
}

.parking-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.airside-wrap {
  flex-grow: 1;
  display: flex;
  gap: calc(var(--root) * 18);
  width: 100%;
  padding: calc(var(--root) * 25) calc(var(--root) * 12) calc(var(--root) * 12);

  & > * {
    flex: 1;
  }
}
