.section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: column;
  gap: calc(var(--root) * 30);

  &.flex-full {
    flex-grow: 1;
  }

  &.flex-auto {
    display: flex;

    .panel {
      flex: 0 0 calc(25% - (var(--root) * 30) * 5 / 6);

      &.grid-1 {
        flex: 0 0 calc(12.5% - (var(--root) * 30) * 5 / 6);
      }

      &.grid-auto {
        flex: 1 1 auto;
      }
    }
  }
}

.panel {
  position: relative;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--root) * 24);
  background-color: #fff;
  box-shadow: 0 calc(var(--root) * 3) calc(var(--root) * 8) rgba(195, 195, 195, 0.82);

  &.grid-1 {
    grid-column: span 1;
  }
  &.grid-3 {
    grid-column: span 3;
  }
  &.grid-4 {
    grid-column: span 4;
  }
  &.grid-6 {
    grid-column: span 6;
  }
  &.grid-auto {
    grid-column: span 1;
  }
}

.panel-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--root) * 15);
  height: calc(var(--root) * 36);
  border-radius: calc(var(--root) * 24) calc(var(--root) * 24) 0 0;
  background-color: #d8dae5;
  color: var(--fc-gray);
  font-size: calc(var(--root) * 18);
  font-weight: 600;
  text-align: center;

  small {
    font-size: calc(var(--root) * 14);
  }

  .unit {
    position: absolute;
    right: calc(var(--root) * 24);
    font-size: calc(var(--root) * 13);
  }
}

.panel-body {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--root) * 16) calc(var(--root) * 18);
}

.panel-label {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--root) * 23);
  padding: 0 calc(var(--root) * 10);
  line-height: 1.1;
  border-radius: calc(var(--root) * 16);
  background-color: var(--gray);
  color: #fff;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;

  &.s--sm {
    height: calc(var(--root) * 22);
    font-size: calc(var(--root) * 12);
    padding: calc(var(--root) * 1) calc(var(--root) * 10) 0;
  }
  &.s--lg {
    height: calc(var(--root) * 27);
    font-size: calc(var(--root) * 16);
  }
  &.w--wide {
    min-width: 90%;
  }
  &.w--swide {
    min-width: 70%;
  }

  &.t--rect {
    height: calc(var(--root) * 36);
    padding: calc(var(--root) * 4) calc(var(--root) * 15) calc(var(--root) * 3);
    border-radius: calc(var(--root) * 8);
    font-size: calc(var(--root) * 12);
    line-height: 1.2;
  }

  &.t--title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--root) * 12);
    height: calc(var(--root) * 50);
    border-radius: calc(var(--root) * 50);
    margin-bottom: auto;
    font-size: calc(var(--root) * 20);
    font-weight: 600;
  }
}

.panel-tooltip {
  position: absolute;
  bottom: calc(100% + var(--root) * 10);
  left: 50%;
  padding: calc(var(--root) * 3);
  border-radius: calc(var(--root) * 5);
  background-color: #454b54;
  color: #fff;
  font-size: calc(var(--root) * 10);
  transform: translateX(-50%);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    border: solid transparent;
    border-width: calc(var(--root) * 4) calc(var(--root) * 3);
    border-top-color: #454b54;
    transform: translateX(-50%);
  }
}
