.section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: calc(var(--root) * 30);

  &.flex-full {
    flex-grow: 1;
  }
}

.panel {
  position: relative;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  min-height: calc(var(--root) * 190);
  border-radius: calc(var(--root) * 24);
  background-color: #fff;
  box-shadow: 0 calc(var(--root) * 3) calc(var(--root) * 8) rgba(195, 195, 195, 0.82);

  &.grid-3 {
    grid-column: span 3;
  }
  &.grid-4 {
    grid-column: span 4;
  }
}

.panel-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--root) * 15);
  height: calc(var(--root) * 36);
  border-radius: calc(var(--root) * 24) calc(var(--root) * 24) 0 0;
  background-color: #d8dae5;
  color: var(--fc-gray);
  font-size: calc(var(--root) * 18);
  font-weight: 600;
  text-align: center;

  small {
    font-size: calc(var(--root) * 14);
  }

  .unit {
    position: absolute;
    right: calc(var(--root) * 24);
    font-size: calc(var(--root) * 13);
  }
}

.panel-body {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--root) * 16) calc(var(--root) * 18);
}

.panel-label {
  display: inline-flex;
  padding: 0 calc(var(--root) * 10);
  line-height: 1.6;
  border-radius: 1.6em;
  background-color: var(--gray);
  color: #fff;
  white-space: nowrap;
  font-weight: 400;

  &.s--sm {
    font-size: calc(var(--root) * 12);
    padding-top: calc(var(--root) * 1);
  }
  &.s--lg {
    font-size: calc(var(--root) * 16);
  }
}
