:root {
  font-family: var(--pretendard);
  color: #222;
  font-weight: 500;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

input,
button,
select,
textarea {
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  height: 100%;
  font-size: 14px;
  letter-spacing: -0.01em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #bbb;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

em {
  font-style: normal;
  font-weight: bold;
}

small {
  font-size: 0.92em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

hr {
  width: 100%;
  border: 0;
  margin: 0;
}

td, th {
  vertical-align: middle;
  & > * {
    vertical-align: middle;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c--primary {
  color: var(--primary)
}

.flex-grow {
  flex-grow: 1;
}

.flex-primary {
  flex: 1 0 auto;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.a--left {
  text-align: left !important;
}
.a--center {
  text-align: center !important;
}

.c--warn {
  color: var(--c-warn) !important
}
.c--cancel {
  color: #383838 !important
}