#root {
  --root: 0.0521vw;

  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: calc(var(--root) * 14);
}

.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #f5f5f5;
  color: #121212;
  transition: background-color 0.5s, color 0.5s;

  &.dashboard1 {
    background-color: #1a1e3b;
    color: #fff;

    .dashboard-pagination {
      background-color: #b2c0ff;
      color: #1a1e3b;
    }
    .swiper-pagination-bullet-active {
      background-color: #2a3460;
    }
  }
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--root) * 18);
  padding: 0 calc(var(--root) * 30) calc(var(--root) * 30);
}

.dashboard-wrapper {
  flex-grow: 1;
  display: flex;
}

.swiper-dashboard {
  flex-grow: 1;
  display: flex;

  .swiper-wrapper {
    flex-grow: 1;
  }

  .swiper-slide {
    flex-grow: 1;
    display: flex
  }
}

.dashboard-pagination-wrap {
  z-index: 99;
  position: absolute;
  top: calc(var(--root) * 8);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: calc(var(--root) * 20);
}

.dashboard-pagination {
  position: relative;
  top: auto !important;
  bottom: auto !important;
  width: auto !important;
  display: flex;
  height: calc(var(--root) * 43);
  border-radius: calc(var(--root) * 23);
  background-color: #fff;
  box-shadow: calc(var(--root) * 2) calc(var(--root) * 2) calc(var(--root) * 8) #00000012;
  color: #9a9a9a;

  .swiper-pagination-bullet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: calc(var(--root) * 124);
    height: 100%;
    border-radius: calc(var(--root) * 23);
    padding: 0 1em;
    margin: 0 !important;
    color: inherit;
    font-size: calc(var(--root) * 16);
    line-height: 1;
    font-weight: 600;
    background-color: transparent;
    opacity: 1;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--primary);
    color: #fff;
    font-weight: 500;
    border-color: transparent;
  }
}
