// heading
.title-h3 {
  font-size: calc(var(--root) * 16);
  font-weight: 600;
}

// messge
.msg-error {
  font-size: calc(var(--root) * 11);
  color: var(--c-error);
}

.font-lg {
  font-size: calc(var(--root) * 22);
}
