@charset "UTF-8";

// base
@use 'reset-css';
@use './base/variable';
@use './base/animations';

// common
@use './common/global';
@use './common/layout';
@use './common/icon';
@use './common/text';

// etc
@use './instance/panel';
@use './instance/dashboard';
@use './instance/airportDashboard'
