.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: calc(var(--root) * 55);

  :global {
    .swiper-slide {
      display: flex;
    }

    .swiper-pagination-bullets {
      bottom: calc(var(--root) * 20);

      .swiper-pagination-bullet {
        width: calc(var(--root) * 10);
        height: calc(var(--root) * 10);
        margin: calc(var(--root) * 3);
      }
    }
  }
}

.swiperHeader {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--root) * 24);
  font-size: calc(var(--root) * 14);
  color: #8f95b2;

  & > * {
    display: flex;
    align-items: center;
    gap: calc(var(--root) * 8);

    &:nth-child(2) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .current {
    font-size: calc(var(--root) * 18);
    color: var(--fc-gray);
  }

  .prevBtn,
  .nextBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--root) * 24);
    height: calc(var(--root) * 24);
    border-radius: calc(var(--root) * 24);
    background-color: #fff;
    box-shadow: 0 0 calc(var(--root) * 4) 0 #00000040;
  }
}