.swiperWrapper {
  position: absolute;
  inset: calc(var(--root) * 2) 0 calc(var(--root) * 2) calc(var(--root) * 18);
  display: flex;
  gap: calc(var(--root) * 18);

  :global {
    .swiper-wrapper {
      width: auto;
      height: auto;
      padding-left: calc(var(--root) * 70);
    }

    .swiper-pagination {
      inset: 0 auto 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(var(--root) * 10);
      width: auto !important;
      transform: none !important;

      .swiper-pagination-bullet {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        width: auto;
        height: calc(var(--root) * 23);
        border-radius: calc(var(--root) * 23);
        padding: 0 calc(var(--root) * 7);
        margin: 0 !important;
        color: #fff;
        background-color: var(--gray);
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: #454b54;
      }
    }
  }
}

.swiper {
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}

// table data
.weather {
  display: flex;
  width: 100%;
  height: 100%;
  padding: calc(var(--root) * 16) calc(var(--root) * 18) calc(var(--root) * 16) 0;
}

.icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: calc(var(--root) * 90);

  :global {
    .ic-comm {
      transform: translateY(15%);
    }
  }
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: calc(var(--root) * 8);
  color: var(--fc-gray);
  overflow: hidden;

  .tit {
    font-size: calc(var(--root) * 32);
    font-weight: 400;
    color: #121212;

    em {
      font-weight: 600;
    }
  }
}

.dataList {
  font-size: calc(var(--root) * 12);
  margin-left: calc(var(--root) * -17);

  & > * {
    display: inline-flex;
    align-items: center;
    height: calc(var(--root) * 12);
    padding-left: calc(var(--root) * 8);
    margin: calc(var(--root) * 4) 0 calc(var(--root) * 4) calc(var(--root) * 8);
    border-left: calc(var(--root) * 1) solid #e4e9f6;
  }
}

.table {
  width: 100%;
  height: 100%;
  font-size: calc(var(--root) * 12);

  tr:nth-of-type(even) {
    background-color: #f0f0f0;
  }

  tr:first-of-type td {
    font-size: calc(var(--root) * 12);
  }

  th {
    width: 15%;
    padding: 0 calc(var(--root) * 9);
    color: var(--primary);
    text-align: left;
    white-space: nowrap;
  }

  :global {
    td {
      text-align: center;
      font-size: calc(var(--root) * 11);

      &:has(.ic-comm) {
        height: calc(var(--root) * 28);
      }

      &:last-of-type {
        padding-right: calc(var(--root) * 8);
      }
    }
  }
}
